.Button-Manager-Root {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.Button-Manager-Root button {
    color: var(--dark-highlight-color);
    background-color: white;
    border-radius: 15px;
    width: 5rem;
    height: 5rem;
}