.Component-Root button {
    width: 3rem;
    height: 3rem;
}

.Component-Root {
    border: 2px solid green;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Component-Section {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
