.Component-Root button {
    background-color: transparent;
    color: var(--dark-highlight-color);
    width: 2rem;
    height: 2rem;
}

.Component-Root {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Component-Title {
    font-size: 3rem;
    color: var(--dark-font-color);
}

.Component-Section {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Component-Input {
    margin-top: 2rem;
    position: relative;
}

.Component-Delete {
    position: absolute;
    top: 2rem;
    right: 0;
}

.Component-Delete:hover {
    color: black;
    background-color: var(--delete-color);
}

.Component-Add {
    margin-top: 1rem;
    margin-bottom: 6rem;
}

.Component-Add:hover {
    background-color: var(--dark-hover-color);
}
