.Education-Input * {
    font-size: 1.5rem;
}

.Education-Input {
    border-top: 4px solid var(--dark-highlight-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
    padding: 3rem;
    padding-top: 6rem;
    background-color: var(--dark-background-color);
}