.Profile-Root {
    margin-top: 2rem;
    width: 100%;
}

.Profile-Content {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.Profile-Preview-Title {
    font-size: 3rem;
    color: var(--dark-font-color)
}

.Profile-Inputs {
    padding: 3rem;
    background-color: var(--dark-background-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
}

.Profile-Inputs input {
    padding-left: 1rem;
    height: 3rem;
    border-radius: 7px;
}