.Project-Root {
    border-top: 2px solid grey;
    padding-bottom: 1.5rem;
    padding-top: 6rem;
}

.Project-Root input {
    padding-left: 1rem;
    height: 3rem;
    border-radius: 7px;
}

.Project-Root textarea {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    padding-left: 1rem;
}

.Row1,
.Row2 {
    display: flex;
    gap: 2rem;
}

.Row1 > input,
.Row2 > input {
    flex: 1;
}

.Row2 {
    margin-top: 1rem;
}

.Row3 {
    margin-top: 1rem;
}