.Resume-Preview {
    border: 2px solid red;
    width: var(--resume-preview-width);
    padding-bottom: calc(var(--resume-preview-width) * 1.294);
    position: relative;
}

.Resume-Preview-Container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}