.Resume-Preview {
    background-color: #F2EECB;  
    border: 2px solid red;
    width: var(--resume-preview-width);
    padding-bottom: calc(var(--resume-preview-width) * 1.294);
    position: relative;
}

.Resume-Preview-Container {
    border: 2px solid green;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-right: 2rem;
    margin-left: 2rem;
}

.Personal-Profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid blue;
}

#Name {
    text-align: center;
}