.Resume-Preview {
    background-color: #F2EECB;  
    border: 2px solid red;
    width: var(--resume-preview-width);
    padding-bottom: calc(var(--resume-preview-width) * 1.294);
    position: relative;
}

.Resume-Preview-Container {
    border: 2px solid green;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-right: 2rem;
    margin-left: 2rem;
}

.Personal-Profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid blue; */
}

.Section-Title {
    text-align: left;
    border-bottom: 2px solid black;
}

.Education {
    margin-top: 1rem;
    /* border: 2px solid yellow; */
}

#Education-Info {
    display: flex;
    justify-content: space-between;
}

.Work-Experience {
    position: relative;
    margin-top: 1rem;
    /* grid: repeat(2, 1fr) / repeat(2, 1fr); */
}

.Work-Section {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    grid-template-areas:
        "position date"
        "company location"
        "description description";
}

.Work-Position {
    width: auto;
    height:auto;
    grid-area: position;
}

.Work-Date {
    grid-area: date;
    text-align: right;
}

.Work-Company {
    grid-area: company;
}

.Work-Location {
    grid-area: location;
    text-align: right;
}

.Work-Description {
    grid-area: description;
}

pre {
    white-space: pre-wrap;
}
