.Skills-Root-1 button {
    background-color: transparent;
    color: var(--dark-highlight-color);
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
}

.Skills-Root-1 {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Skills-Title {
    color: white;
    font-size: 3rem; 
}

.Skills-Category {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}

.Skills-Category-Add {
    padding-left: 1rem;
    height: 3rem;
    border-radius: 7px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex: 1;
}

.Skills-Category button {
    width: 3rem;
    height: 3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex: 1;
}

.Skills-Root-2 {
    padding-top: 4rem;
    position: relative;
}

.Category-Title {
    color: white;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.Skills-Delete-Category {
    position: absolute;
    top: 2rem;
    right: 0.7rem;
}

.Skills-List {
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.Skills-Section {
    display: flex;
    background-color: white;
    align-items: center;
}

.Skills-Add {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.Skills-Skill-Input {
    padding-left: 1rem;
    height: 3rem;
    border-radius: 7px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    /* flex: 1; */
}

.Skills-Add button{
    width: 3rem;
    height: 3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    /* flex: 1; */
}

.Skills-Category {
    margin-top: 2rem;
}

.Skills-Root-2 {
    border-top: 2px solid grey;
    margin-top: 3rem;
    width: 80%;
    padding-bottom: 2rem;
}

.Skills-Skill {
    border-radius: 15px;
    margin-right: 1rem;
    padding-left: 1rem;
}
