.Work-Root {
    border-radius: 15px;
    padding: 3rem;
    background-color: var(--dark-highlight-color);
}

.Work-Input input{
    text-align: left;
}

.Work-Input textarea {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.First-Row,
.Second-Row,
.Third-Row {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.First-Row > input,
.Second-Row > input,
.Third-Row > input {
  flex: 1;
}


.Fourth-Row {
    margin-top: 1rem;
    position: relative;
    display: flex;
}

.Work-Start-Date {
    flex: 1;
}

.Work-Location {
    text-align: left;
    flex: 1;
}
.Work-End-Date {
    flex: 1;
}