.Work-Root {
    border-top: 2px solid grey;
    padding-bottom: 2rem;
    padding-top: 5rem;
}

.Work-Input input{
    text-align: left;
    padding-left: 1rem;
    height: 3rem;
    border-radius: 7px;
}

.Work-Input textarea {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 7px;
    padding-left: 1rem;
}

.First-Row,
.Second-Row,
.Third-Row {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.First-Row > input,
.Second-Row > input,
.Third-Row > input {
  flex: 1;
}


.Fourth-Row {
    margin-top: 1rem;
    position: relative;
    display: flex;
}

.Work-Start-Date {
    flex: 1;
}

.Work-Location {
    text-align: left;
    flex: 1;
}
.Work-End-Date {
    flex: 1;
}