@font-face {
    font-family: "CMU";
    src: url("./fonts/cmunorm.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "CMU";
    src: url("./fonts/cmunbx.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "CMU";
    src: url("./fonts/cmunti.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

:root {
    --resume-preview-width: 50rem;
}

.App-Root {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        " header header "
        " content content ";
}

.App-Header {
    border: 2px solid blue;
    grid-area: header;
}

.App-Content {
    grid-area: content;
    width: 100%;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
}

.App-Preview {
    /* border: 2px solid red; */
    /* grid-area: preview; */
}

.App-Input *{
    font-size: 1.5rem;
}

.App-Input {
    /* grid-area: input; */
    width: 100%;
    /* border: 2px solid green; */
}

@media (min-width: 1280px) {
    * {
        font-size: 13px;
    }
}


@media (min-width: 1912px) {
    * {
        font-size: 20px;

    }
}

@media (min-width: 1920px) {
    * {
        font-size: 25px;

    }
}