html {
    font-size: clamp(6px, calc(6px + (1 * (100vw - 600px) / 130)), 35px);
}

@font-face {
    font-family: "CMU";
    src: url("./asset/fonts/cmunorm.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "CMU";
    src: url("./asset/fonts/cmunbx.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "CMU";
    src: url("./asset/fonts/cmunti.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Manrope";
    src: url("./asset/fonts/Manrope-Normal.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("./asset/fonts/Manrope-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

:root {
    --resume-preview-width: 55rem;
    --dark-background-color: #292b2c;
    --dark-highlight-color: grey;
    --dark-font-color: white;
    --dark-hover-color: #474747;
    --delete-color: #FE6464;
}


.App-Root {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-background-color);
    min-height: 100vh;
    width: 100vw;
}

.App-Header > * {
    margin: 0;
    padding: 0;
}

.App-Content > * {
    margin: 0;
    padding: 0;
}

.App-Header {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    background-color: #5062AA;
    height: 8rem;
}

.App-Name {
    height: 5rem;
    margin-left: 2rem;
}

.App-Utility {
    padding-right: 2rem;
    bottom: center;
    display: flex;
    gap: 3rem;
}

.App-Utility button {
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 800;
    width: 10rem;
    height: 3.5rem;
    background-color: white;
    color: #5062AA;
}

.App-Utility button:hover {
    color: white;
    background-color: var(--dark-hover-color);
}

.App-Content {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.App-Input *{
    font-size: 1.5rem;
    font-weight: 200;
}

.App-Input {
    /* border: 2px solid red; */
    width: 100%;
    margin-bottom: 15rem; 
}

.App-Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.Github-Text {
    font-size: 1.5rem;
    color: white;
}

.Github-Icon {
    width: 3rem;
    height: 3rem;
    color: white;
}



/* Media Queries */

@media (max-width: 367px) {
    .App-Root {
        overflow: auto;
    }

    .App-Header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .App-Content {
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        max-width: 100%;
        flex-wrap: wrap;
    }

    .App-Input {
        margin-bottom: 10rem;
    }
}

@media (min-width: 368px) and (max-width: 576px) {
    .App-Header {
        justify-content: space-between;
    }

    .App-Content {
        margin-top: 2rem;
        justify-content: center;
        gap: 2rem;
        max-width: 100%;
        flex-wrap: wrap;
    }

    .App-Input {
        margin-top: 2rem;
        margin-bottom: 10rem;
    }
}

@media (max-width: 517px) {
    .App-Header {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        height: 14rem;
    }

    .App-Name {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .App-Utility {
        margin: 0;
        padding: 0;
        justify-content: center;
        padding-bottom: 1rem;
    }
}

@media (min-width: 577px) {
    .App-Content {
        padding-left: 4rem;
    }

    .App-Preview {
        max-width: 50rem;
    }

    .App-Input {
        margin-left: 5rem;
        max-width: 50rem;
    }

    .App-Footer {
        padding-left: 5rem;
    }
}

@media (min-width: 577px) and (max-width: 644px) {
    .App-Root {
        overflow: auto;
        min-width: 50rem;
    }

    .App-Header {
        justify-content: space-between;
    }

    .App-Content {
        justify-content: space-between;
        gap: 2rem;
        max-width: 100%;
        flex-wrap: nowrap;
    }
}

@media (min-width: 2560px) {
    html {
        font-size: 18px;
    }
}
